/* Total del documento*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #181a1b;
    color: white;
}

.body-index {
    padding-top: 100px;
}



/* barra de navegacion */

header {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.barraNavegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.principal h1{
    font-size: 45px;
}

.principal p{
    font-size: 25px;
}

.logo {
    color: #00c3ff;
    font-family: 'Times New Roman', Times, serif;
}

.links-barraNav {
    display: flex;
    list-style: none;
    gap: 25px;
}

.links-barraNav a {
    text-decoration: none;
    color: white;
}

/*seccion principal*/
.principal {
    background-image: url(../recursos/telefono-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;  
}

.boton-comprar{
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    font-size: 15px;
    margin: 10px 10px 10px 10px;  
}

.boton-comprar:hover{
    background: #222;
}

/* pagina de el telefono principal */
 #telefono-s{ 
    text-align: center;
    align-items: center;
    display: flex;
}

#telefono-div{
    display: flex;
    align-items: center;
    gap: 20px;
}

#rendimiento-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content:right;
}

img {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

#telefono-img{
    height: 500px;
}

#rendimiento-imagen{
    height: 350px;
    width: 480px;
}

/* pie de pagina */
footer {
    background: black;
    text-align: center;
    padding: 15;
    
}

/*Login*/
.login{
    text-align: center;
}



/* Carrito de compras */

